{% extends "base.html" %}
{% block content %}
  <script src="https://kit.fontawesome.com/5fe2327966.js" crossorigin="anonymous"></script>
  {% include "admin_navbar.html" %}
  <div class="cotainer">
    <!-- Content -->
    <div class="row dashboard">
      <div class="col-2"></div>
      <div class="col-8">
        <h2 class="mt-4">Pedidos de prestamo</h2>
        {% include "alert.html" %}
        <div style="height:600px;overflow:auto;">
          <table class="table mt-4">
          <thead class="thead-dark">
            <tr>
              <th scope="col">DNI</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Genero</th>
              <th scope="col">Email</th>
              <th scope="col">Monto</th>
              <th scope="col">Ultimo editor</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for loan in loans %}
            <tr>
              <td>{{loan.dni}}</td>
              <td>{{loan.nombre}}</td>
              <td>{{loan.apellido}}</td>
              {% if loan.genero == 1 %}
                <td>Masculino</td>
                {% else %}
                <td>Femenino</td>
              {% endif %}
              <td>{{loan.email}}</td>
              <td>${{loan.monto}}</td>
              {% if loan.last_editor.username %}
                <td>{{loan.last_editor.username}}</td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>
                <form method="GET" action="loan/edit/{{loan.id}}">
                  <button class="btn" style="padding: 0" type="submit">
                    <i style="color: green" class="fas fa-pen"></i>
                  </button>
                </form>
                </td>
              <td>
                <form method="POST" action="loan/delete/{{loan.id}}">
                  <button class="btn" style="padding: 0" type="submit">
                    <i style="color: red" class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
{% endblock %}